.band {
    margin-bottom: 40px;
    .band__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .band__img {
        width: 400px;
        height: 550px;
    }
}

@media only screen and (max-width: 865px) {
    .band {
        .band__img {
            width: 350px;
            height: 500;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 825px) {
    .band {
        .band__img {
            width: 300px;
            height: 450;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 768px) {
    .band {
        .band__container {
            flex-direction: column;
        }

        .band__img {
            width: 100%;
            height: 450;
            margin-top: 30px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
