.button {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    background-color: $redel;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

.button:hover {
    background-color: #e2463e;
}

.button:active {
    opacity: 0.7;
}
