.footer {
    padding: 200px 0px;
    background-image: url("../img/runners.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .wach-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .wach {
        .wach__header {
            color: #ffffff;
        }

        .wach__desc {
            max-width: 399px;
            color: #ffffff;
            border-left: 2px solid #fff;
        }
    }
}

@media only screen and (max-width: 840px) {
    .footer {
        padding: 130px 0px;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 90px 0px;

        .wach {
            margin: 0 auto;

            .wach__desc {
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .footer {
        padding: 80px 0px;
    }
}
