.header {
    padding: 30px 0px;
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo-img {
        display: block;
        width: 20px;
        height: 44px;
    }

    .header__right {
        display: flex;
    }

    .header__nav {
        margin-right: 40px;
    }

    .header__menu {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .header__item + .header__item {
        margin-left: 35px;
    }

    .header__link {
        padding-bottom: 5px;
        font-size: 13px;
        font-weight: 400;
        color: #b6b5b6;
        text-decoration: none;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.5s, color 0.4s;
    }

    .header__link:hover {
        color: #222;
        border-bottom: 3px solid #222;
    }

    .header__link:active {
        opacity: 0.6;
    }

    .header__form {
        max-width: 140px;
    }

    .header__input {
        max-width: 100%;
        padding-bottom: 4px;
        font-size: 13px;
        border: none;
        border-bottom: 1px solid #b6b5b6;
        outline: none;
    }
}

// RESPOMSIV

@media only screen and (max-width: 500px) {
    .header {
        .header__form {
            display: none;
        }

        .header__nav {
            margin-right: 0px;
        }
    }
}
