.hero {
    position: relative;
    padding-top: 110px;
    padding-bottom: 200px;
    overflow: hidden;
    border-bottom: 1px solid #b6b5b6;
    margin-bottom: 50px;
    .hero__container {
        display: flex;
    }

    .hero__img {
        position: absolute;
        top: 0px;
        transform: translateX(128%);
        transition: all 0.5s ease;
    }
}

// TABLET RESPONSIV
@media only screen and (max-width: 1024px) {
    .hero {
        .hero__img {
            transform: translateX(95%);
        }
    }
}

@media only screen and (max-width: 875px) {
    .hero {
        .hero__img {
            transform: translateX(85%);
        }
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        padding: 30px 0px 80px 0px;
        border-bottom: none;
        margin-bottom: 0px;
        .hero__container {
            flex-direction: column-reverse;
            align-items: center;
        }

        .hero__img {
            position: static;
            margin-bottom: 40px;
            width: 550px;
            height: 450px;
            transform: translateX(0);
            border-bottom: 1px solid $grey;
        }
    }
}

@media only screen and (max-width: 600px) {
    .hero {
        padding: 0px 0px 80px 0px;

        .hero__img {
            width: 400px;
            height: 350px;
        }
    }
}

// MOBILE RESPONSIV
@media only screen and (max-width: 440px) {
    .hero {
        .hero__img {
            width: 320px;
            height: 330px;
        }
    }
}

@media only screen and (max-width: 360px) {
    .hero {
        .hero__img {
            width: 270px;
            height: 290px;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 310px) {
    .hero {
        .hero__img {
            width: 250px;
            height: 280px;
            margin-bottom: 20px;
        }
    }
}
